@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <form action="/Home/IndexPost" method="post">
        <input value="0" type="text" name="ToSu1" id="ToSu1" placeholder="Enter value here" />
        <p>
            <input type="submit" value="Proceed to checkout" name="B" class="btn btn-primary pull-right">
        </p>
    </form>
</div>